<!-- COMPONENT COMPARTILHADO BREAD CRUMB -->
<app-bread-crumb [items]="[
  {text:'Voucher Products', link:'/voucher-products'},
  {text: pageTitle}
  ]"></app-bread-crumb>

<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/voucher-products" type="button" class="btn btn-light float-end">
      << Voltar </a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card" style="align-items: stretch;">
    <div class="card-body">
      <h5 class="card-title">Voucher Product</h5>
      <div class="form-row">

        <div class="row">
          <div class="form-group col-md">
            <label for="voucher_code">Voucher code</label>
            <input type="number" class="form-control" id="voucher_code" formControlName="voucher_code">
            <div
              *ngIf="resourceForm.get('voucher_code')?.invalid && (resourceForm.get('voucher_code')?.dirty || resourceForm.get('voucher_code')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('voucher_code')?.errors?.['required']">
                Campo Discount Campaign Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="type">Product code</label>
            <input type="text" class="form-control" id="product_code" formControlName="product_code">
            <div
              *ngIf="resourceForm.get('product_code')?.invalid && (resourceForm.get('product_code')?.dirty || resourceForm.get('product_code')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('product_code')?.errors?.['required']">
                Campo Type Obrigatório.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-primary float-end mt-3">
    Salvar</button>

</form>
