<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ANX WEB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/vouchers">Vouchers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/voucher-products">Voucher Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/voucher-stores">Voucher Stores</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
