<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li *ngFor="let item of items" class="breadcrumb-item" [class.active]="isTheLastItem(item)">

      <span *ngIf="isTheLastItem(item)">{{item.text}}</span>

      <a *ngIf="!isTheLastItem(item)" routerLink={{item.link}}>{{item.text}}</a>

    </li>
  </ol>
</nav>
