<!-- COMPONENT COMPARTILHADO BREAD CRUMB -->
<app-bread-crumb [items]="[
  {text:'Form', link:'new'},
  {text: 'Vouchers'}
  ]"></app-bread-crumb>

  <div>
    <h1 class="h2 border-left pl-2">
      Vouchers
    </h1>
  </div>
  <div class="float-end">
    <a routerLink="new" type="button" class="btn btn-primary">
      + New Voucher
    </a>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Discount Campaign</th>
      <th scope="col">Type</th>
      <th scope="col">Discount</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Minimum Sale</th>
      <th scope="col">Quantity</th>
      <th scope="col">Prefix</th>
      <th scope="col">Random Number</th>
      <th scope="col">Quantity Use</th>
      <th scope="col">Linked Code</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let voucher of resources">
      <td>{{ voucher.code }}</td>
      <td>{{ voucher.discount_campaign }}</td>
      <td>{{ voucher.type }}</td>
      <td>{{ voucher.discount }}</td>
      <td> {{voucher.start_date | date: 'dd/MM/yyyy'}}</td>
      <td>{{ voucher.end_date | date: 'dd/MM/yyyy'}}</td>
      <td>{{ voucher.minimum_sale }}</td>
      <td>{{ voucher.quantity }}</td>
      <td>{{ voucher.prefix }}</td>
      <td>{{ voucher.random_number }}</td>
      <td>{{ voucher.quantity_use }}</td>
      <td>{{ voucher.linked_code }}</td>
      <td>{{ voucher.status }}</td>

      <td>
        <div class="row">
          <a [routerLink]="[voucher.code,'edit']" type="button" class="btn btn-warning col-md">edit</a>
          <a (click)="deleteResource(voucher)" type="button" class="btn btn-danger col-md mt-2">delete</a>
        </div>
      </td>
    </tr>

  </tbody>
</table>
