<!-- COMPONENT COMPARTILHADO BREAD CRUMB -->
<app-bread-crumb [items]="[
  {text:'Vouchers', link:'/vouchers'},
  {text: pageTitle}
  ]"></app-bread-crumb>

<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/vouchers" type="button" class="btn btn-light float-end">
      << Voltar </a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card" style="align-items: stretch;">
    <div class="card-body">
      <h5 class="card-title">Voucher</h5>
      <div class="form-row">

        <div class="row">
          <div class="form-group col-md">
            <label for="discount_campaign">Discount Campaign</label>
            <input type="text" class="form-control" id="discount_campaign" formControlName="discount_campaign">
            <div
              *ngIf="resourceForm.get('discount_campaign')?.invalid && (resourceForm.get('discount_campaign')?.dirty || resourceForm.get('discount_campaign')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('discount_campaign')?.errors?.['required']">
                Campo Discount Campaign Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" formControlName="type" maxlength="1">
            <div
              *ngIf="resourceForm.get('type')?.invalid && (resourceForm.get('type')?.dirty || resourceForm.get('type')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('type')?.errors?.['required']">
                Campo Type Obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md">
            <label for="discount">Discount</label>
            <input type="text" class="form-control" id="discount" formControlName="discount" maxlength="1">
            <div
              *ngIf="resourceForm.get('discount')?.invalid && (resourceForm.get('discount')?.dirty || resourceForm.get('discount')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('discount')?.errors?.['required']">
                Campo Discount Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" id="start_date" formControlName="start_date">
            <div
              *ngIf="resourceForm.get('start_date')?.invalid && (resourceForm.get('start_date')?.dirty || resourceForm.get('start_date')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('start_date')?.errors?.['required']">
                Campo Start Date Obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" id="end_date" formControlName="end_date">
            <div
              *ngIf="resourceForm.get('end_date')?.invalid && (resourceForm.get('end_date')?.dirty || resourceForm.get('end_date')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('end_date')?.errors?.['required']">
                Campo End Date Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="minimum_sale">Minimum Sale</label>
            <input type="number" class="form-control" id="minimum_sale" formControlName="minimum_sale">
            <div
              *ngIf="resourceForm.get('minimum_sale')?.invalid && (resourceForm.get('minimum_sale')?.dirty || resourceForm.get('minimum_sale')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('minimum_sale')?.errors?.['required']">
                Campo Minimum Sale Obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" formControlName="quantity">
            <div
              *ngIf="resourceForm.get('quantity')?.invalid && (resourceForm.get('quantity')?.dirty || resourceForm.get('quantity')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('quantity')?.errors?.['required']">
                Campo Quantity Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="prefix">Prefix</label>
            <input type="text" class="form-control" id="prefix" formControlName="prefix">
            <div
              *ngIf="resourceForm.get('prefix')?.invalid && (resourceForm.get('prefix')?.dirty || resourceForm.get('prefix')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('prefix')?.errors?.['required']">
                Campo Prefix Obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md">
            <label for="random_number">Random Number</label>
            <input type="text" class="form-control" id="random_number" formControlName="random_number" maxlength="1">
            <div
              *ngIf="resourceForm.get('random_number')?.invalid && (resourceForm.get('random_number')?.dirty || resourceForm.get('random_number')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('random_number')?.errors?.['required']">
                Campo Random Number Obrigatório.
              </div>
            </div>
          </div>

          <div class="form-group col-md">
            <label for="quantity_use">Quantity Use</label>
            <input type="number" class="form-control" id="quantity_use" formControlName="quantity_use">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md">
            <label for="linked_code">Linked Code</label>
            <input type="number" class="form-control" id="linked_code" formControlName="linked_code">
          </div>

          <div class="form-group col-md">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" formControlName="status" maxlength="1">
            <div
              *ngIf="resourceForm.get('status')?.invalid && (resourceForm.get('status')?.dirty || resourceForm.get('status')?.touched)"
              class="alert alert-danger">
              <div *ngIf="resourceForm.get('status')?.errors?.['required']">
                Campo Status Obrigatório.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary float-end mt-3">
    Salvar</button>

</form>
