<!-- COMPONENT COMPARTILHADO BREAD CRUMB -->
<app-bread-crumb [items]="[
  {text:'Form', link:'new'},
  {text: 'Voucher Stores'}
  ]"></app-bread-crumb>

<div>
  <h1 class="h2 border-left pl-2">
    Voucher Stores
  </h1>
</div>
<div class="float-end">
  <a routerLink="new" type="button" class="btn btn-primary">
    + New Voucher Stores
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Voucher</th>
      <th scope="col">Store Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let voucherStore of resources">
      <td>{{ voucherStore.code }}</td>
      <td>{{ voucherStore.voucher_code}}</td>
      <td>{{ voucherStore.store_code }}</td>

      <td>
        <a [routerLink]="[voucherStore.code,'edit']" type="button" class="btn btn-warning ">edit</a>
        <a (click)="deleteResource(voucherStore)" type="button" class="btn btn-danger ">delete</a>
      </td>
    </tr>

  </tbody>
</table>
